.videoTile {
    display: flex;
    /* width: 100%; */
    flex-direction: row;
    width: 1100px;
    margin-bottom: 20px;
    overflow: hidden;
}

.image_div {
    height: 200px;
    width: 360px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;

}

.thumbnail {
    height: 200px;
    width: 360px;
    object-fit: contain;
}

.title_div {
    font-size: 18px;
    line-height: 26px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.duration {
    background-color: rgb(31,31,31);
    width: 40px;
    height: 18px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    position: absolute;
    bottom: 5px; /* Changed from top to bottom */
    right: 3px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.9;
}

.vertBtn {
    margin-left: 450px!important;
    color: rgb(175,175,175)!important;
}

.vertBtn:hover {
    color: white!important;
}

.views {
    margin-top: -1px;
    font-size: 12px;
    color: #606060;
    padding: 3px 0;
}

.data {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    padding: 3px 0;
}

.data img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.desc {
    font-size: 14px;
    color: rgb(94,94,94);
    padding: 3px 0;
}

.watchLater {
    position: absolute;
    top: 5px;
    background-color: #000000;
    color: #ffffff!important;
    right: 5px;
    font-size: 20px!important;
    padding: 4px 4px;
    opacity: 0.8;
    align-items: center;
    border-radius: 3px;
    display: none;
}

.playlistAdd {
    position: absolute; /* Fixed the typo */
    top: 5px; /* Aligned with Watch Later */
    background-color: #000000;
    color: #ffffff!important;
    right: 40px; /* Spaced to the left of Watch Later */
    font-size: 20px!important;
    padding: 4px 4px;
    opacity: 0.8;
    align-items: center;
    border-radius: 3px;
    display: none; /* Fixed the typo */
}

.videoIcon {
    font-size: 20px!important;
}

.videoTile:hover .playlistAdd {
    display: flex;
}

.videoTile:hover .watchLater {
    display: flex;
}
